
{% extends 'layout_workFlow.html.twig' %}

{% block body %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{% trans %}Confirmation de Commande{% endtrans %}</h1>
            <p class="lead">{% trans %}Félicitation votre commande {% endtrans %}n° :  {{ booking.transactionNumber }} a bien été passée.</p><br/>
            <p>{% trans %}Un email de comfirmation vous à été envoyé à l'adresse suivante {% endtrans %} : {{ booking.email }}</p>
            <a href="{{ path('home') }}">{% trans %}Retour à la page d'Accueil{% endtrans %}</a>
        </div>
    </div>
{% endblock%}


