{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <h3>Billetterie du Louvre</h3>

        {{ form_start(form) }}

        {{ form_row(form) }}


        <div class="col">
            <input type="submit" class="btn btn-primary" value="Valider">
        </div>
        {{ form_end(form) }}

</div>
</div>
{% endblock %}