
@font-face
{
    font-family : 'fontastique';
    src : url('../fonts/fontastique.ttf'),
          url('../fonts/fontastique.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PassionOne-Bold';
    src : url('../fonts/PassionOne-Bold.otf');
}

body{
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    width:100%;

}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    font-family: 'fontastique', serif;
}
p, label, a ,th, td, tr, .form-control, .btn  {
    font-family: 'fontastique', serif;
}
h4{
    text-align: center;
}
/***BGVIDEO***/
*, *:before, *:after {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    float: unset;
}
.video-header{
    position:relative;
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    color: #fff;
}

.wrap{
    padding-left: 1rem;
    padding-right: 1rem;
    margin:auto;
    text-align: center;
}

.fullscreen-video-wrap{

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

}
.fullscreen-video-wrap video{
    min-height: 100%;
    width: 100%;
}

.header-overlay{
    margin-top: 50px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

.header-content{
    z-index: 2;
    margin-top:20%;
    padding: 0 5rem;

}

.header-content h1{
    font-size: 50px;
    padding:20px;
    margin-bottom: 0;

}
.header-content p{
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
    margin-top: 10px;
}

.my-btn{
    padding: 1rem 1rem;
}

@media(max-width:767px){
    .header-content h1{
        font-size: 20px;
        height:100%;

    }
    .header-content p{
        padding-top:0;

    }
    .resa{
        color:black;
    }
    .header-content{
        margin-top:30%;

    }
    .fullscreen-video-wrap video{
        width:100%;
        min-height:0;
    }

    .header-overlay{
        width:100%;
        margin-top:100px;
    }
    .wrap{
        width:100%;
    }
    .col {
        flex-basis: auto !important;
    }
    label{
        color:black !important;
    }
}
/********MENU********/
section{
    text-align: center;
    margin-top: 50px;
    font-size: 1.5rem;
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 10;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #1abc9c;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
span.openNav{
    font-family:'fontastique',serif;
    font-size:60px !important;
    padding:20px;
    cursor:pointer
}

@media screen and (max-height: 490px) {
    .overlay a {
        font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }


}
@media screen and (max-width: 767px) {

    span.openNav{
        font-size: 30px!important;
    }
}
/**********BREADCRUMBS******/

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fa, .fas {
    font-weight: 900;
    padding-right: 10px;
}

.breadcrumbs {
    text-align: center;
    padding-bottom:50px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.breadcrumbs ul {
    list-style: none;
    display: inline-flex;
}
.breadcrumbs ul li {
    display: inline-flex;
}
li {
    background: #771FA7;
}
.breadcrumbs ul li a {
    display: block;

    float: left;
    height: 60px;
    text-align: center;
    padding: 20px 20px 0 60px;
    position: relative;
    margin: 0 3px 0 0;
    font-size: 16px;
    text-decoration: none;
    color: #fafafa;

}
li.active a:after {
    border-left: 30px solid #1abc9c;
}
li a:after{
    border-left: 30px solid #771FA7;

}
.breadcrumbs  li a:after {
    content: "";
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 1;
}
.breadcrumbs ul li a:before {
    content: "";
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #fafafa;
    position: absolute;
    left: 0;
    top: 0;
}

 li:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.breadcrumbs ul li:first-child a:before {
    display: none;

}

li:last-child {
    padding-right: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.breadcrumbs ul li:last-child a:after {
    display: none;
}

.breadcrumbs ul li a.active {
    background-color: #1abc9c;
    color: #fff;
}

.breadcrumbs ul li a.active:after {
    border-left-color: #1abc9c;
    color: #fff;
}
.breadcrumbs ul li a.active:after{
    background: #1abc9c;

}
a:not([href]):not([tabindex]) {
    color: white;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cf:before, .cf:after {
    content: ' ';
    display: inline-flex;
}
.cf:after {
    clear: both;
}

.inner {
    width: 100%;
    margin: 0 auto;
}




@media (max-width: 720px) {

}
@media (max-width: 620px) {


}
@media (max-width: 520px) {

    .title_crumbs {
        display:none;
    }
    .breadcrumbs ul li a
    {
        height:40px;
        padding: 10px 10px 0 40px;
    }
    .breadcrumbs ul li a:after{
        content: "";
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #771FA7;
        position: absolute;
        right: -20px;
        top: 0;
        z-index: 1;
    }
    .breadcrumbs ul li a:before {
        content: "";
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #fafafa;
        position: absolute;
        left: 0;
        top: 0;
    }
    .breadcrumbs{
        padding-bottom: 10px;
    }
}
li.active {
    background-color: #1abc9c;
}

/******BUTTON*****/
.btn{
    background-color: #771FA7;
    border-color:#771FA7;

}
.btn:hover{
    background-color: #1abc9c;
    border-color:#1abc9c;

}


/******** ERROR 404 *********/
body {
    padding: 0;
    margin: 0;
}

#notfound {
    position: relative;
    height: 100vh;
}

#notfound .notfound-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../media/museum.png');
    background-size: cover;
}

#notfound .notfound-bg:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#notfound .notfound:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    transform: translate(-50% , -50%);
    width: 100%;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.7) inset;
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.7) inset;
    z-index: -1;
}

.notfound {
    max-width: 600px;
    width: 100%;
    text-align: center;
    padding: 30px;
    line-height: 1.4;
}

.notfound .notfound-404 {
    position: relative;
    height: 200px;
}

.notfound .notfound-404 h1 {
    font-family: 'Passion One', cursive;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 220px;
    margin: 0;
    color: #222225;
    text-transform: uppercase;
}

.notfound h2 {
    font-family: 'Muli', sans-serif;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    color: #222225;
    margin-top: 26px;
    margin-bottom: 20px;
}


.notfound a {
    font-family: 'Muli', sans-serif;
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
    background-color: transparent;
    color: #222225;
    text-transform: uppercase;
    font-size: 14px;
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
        height: 146px;
    }

    .notfound .notfound-404 h1 {
        font-size: 146px;
    }

    .notfound h2 {
        font-size: 22px;
    }
}

.Contact {
    text-align: center ;
    padding:20px;
}
hr{
    padding:20px;
}
/******FOOTER****/
.py-5{
    background-color: #771FA7;
    padding-top:1rem!important;
    padding-bottom:1rem!important;
}
/******INFO PRATIQUES****/

.conditions{
    margin-bottom: 5rem;
}