{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Confirmation de Commande</h1>
            <p class="lead">Félicitation votre message à bien été envoyé</p><br/>
            <p>Nous mettons tout en oeuvre pour vous apporter une réponse dans les 48 heures</p>
            <a href="{{ path('home') }}">Retour à la page d'Accueil</a>
        </div>
    </div>

{% endblock%}